@page "/systems/list"
@attribute [Authorize]

@using Microsoft.AspNetCore.Identity
@using Paco.Services
@using Ancestor.Extensions
@using Microsoft.EntityFrameworkCore
@using Paco.Areas.Console.Pages.Systems.FreeBsd
@using Paco.Entities.Models
@using Paco.Entities.Models.Identity
@using Paco.Repositories.Database
@using Paco.SystemManagement

@inject IDbContextFactory<ApplicationDbContext> DbContextFactory
@inject SystemManagerService ManagerService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserManager<User> UserManager
@inject NavigationManager NavManager


<h1>Managed systems</h1>
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Hostname</th>
        <th>Last Accessed</th>
        <th>Updates fetched at</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var system in _systems)
    {
        var background = "";
        if (system.NeedsInteraction)
        {
            background = "error-background";
        }

        <tr @onclick="() => ToggleSystemDetail(system)" style='cursor: pointer;' class="@background">
            <td>
                @system.Name
            </td>
            <td>
                @system.Hostname
            </td>
            <td>
                @system.LastAccessed
            </td>
            <td>
                @(system.UpdatesFetchedAt?.ToString() ?? "Never")
            </td>
        </tr>
        @if (ShouldShowDetailForSystem(system))
        {
            <tr role="row" class="b-table-details">
                <td colspan="4" class="">
                    <div class="card">
                        <div class="card-body">
                            @{
                                var information = system.SystemInformation?.FromJson<Dictionary<string, string>>();
                                if (information != null)
                                {
                                    foreach (var (key, value) in information)
                                    {
                                        if (value?.Any() == true)
                                        {
                                            <div class="row mb-2">
                                                <div class="text-sm-right col-sm-3">
                                                    <b style="white-space: pre-line">@key</b>
                                                </div>
                                                <div class="col">
                                                    <p style="white-space: pre-line">@value</p>
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                            }


                            <div class="dropdown">
                                <button class="btn btn-dark dropdown-toggle" type="button" id="actionsMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                    More
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="actionsMenuButton">
                                    <li>
                                        <a class="dropdown-item" @onclick="() => RefreshSystemInformation(system)">Refresh</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" @onclick="() => EditSystem(system)">Edit</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item" @onclick="() => ListPackages(system)">List packages</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" @onclick="() => SchedulePackagesActions(system)">Schedule packages actions</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item" @onclick="() => ViewSchedule(system)">View schedule</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item btn-danger" @onclick="() => DeleteSystem(system)">Delete</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    }
    </tbody>
</table>

<FreeBsdPackagesActionsScheduler @ref="@_freeBsdPackagesActionsScheduler"/>
<FreeBsdScheduleViewer @ref="@_freeBsdScheduleViewer"/>
<FreeBsdPackagesViewer @ref="@_freeBsdPackagesViewer"/>


@code {
    private List<ManagedSystem> _systems = new();
    private readonly List<ManagedSystem> _systemsWithDetailOpened = new();

    private FreeBsdPackagesActionsScheduler _freeBsdPackagesActionsScheduler;
    private FreeBsdScheduleViewer _freeBsdScheduleViewer;
    private FreeBsdPackagesViewer _freeBsdPackagesViewer;

    protected override void OnInitialized()
    {
        RefreshSystems();
        base.OnInitialized();
    }

    private async void RefreshSystems()
    {
        await using var dbContext = DbContextFactory.CreateDbContext();
        var user = await UserManager.GetUserAsync((await AuthenticationStateProvider.GetAuthenticationStateAsync()).User);
        _systems = dbContext.ManagedSystems.GetManagedSystemsForUser(user);
        StateHasChanged();
    }

    private bool ShouldShowDetailForSystem(ManagedSystem system)
    {
        return _systemsWithDetailOpened.Contains(system);
    }

    private void ToggleSystemDetail(ManagedSystem system)
    {
        if (!_systemsWithDetailOpened.Contains(system))
        {
            _systemsWithDetailOpened.Add(system);
        }
        else
        {
            _systemsWithDetailOpened.Remove(system);
        }
    }

    private void RefreshSystemInformation(ManagedSystem system)
    {
        Task.Run(() =>
        {
            ManagerService.RefreshSystemInformation(system);
            base.InvokeAsync(StateHasChanged);
        });
    }

    private void ViewSchedule(ManagedSystem system)
    {
        _freeBsdScheduleViewer.ShowModal(system);
    }

    private void EditSystem(ManagedSystem system)
    {
        NavManager.NavigateTo($"/systems/{system.Id}/edit");
    }

    private void SchedulePackagesActions(ManagedSystem system)
    {
        if (system.Distribution == Distribution.FreeBsd)
        {
            _freeBsdPackagesActionsScheduler.ShowModal(system);
        }
    }

    private void DeleteSystem(ManagedSystem system)
    {
        DbContextFactory.Remove(system);
        RefreshSystems();
    }

    private void ListPackages(ManagedSystem system)
    {
        _freeBsdPackagesViewer.ShowModal(system);
    }

}