@using Paco.Entities.Models
@using Paco.Services
@using Paco.Entities.FreeBsd
@using System.ComponentModel.DataAnnotations
@using System.Globalization
@using Microsoft.EntityFrameworkCore
@using Paco.Entities
@using Paco.Entities.Models.Updating
@using Paco.Repositories.Database
@using Sentry.Protocol

@inject SystemManagerService SystemManagerService
@inject IJSRuntime JsRuntime
@inject IDbContextFactory<ApplicationDbContext> DbContextFactory

@if (_showModal)
{
    <div class="modal fade show" style="display:block" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-xl modal-dialog-scrollable">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">@_system.Name</h4>
                </div>

                <!-- Modal body -->
                <div class="modal-body">

                    @if (_packageInformation != null)
                    {
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var packageInformation in _packageInformation)
                            {
                                <tr>
                                    <td>@packageInformation.Name</td>
                                    <td>@packageInformation.Description</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    }
                    <!-- Modal footer -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" @onclick="@CloseModal">Close</button>
                </div>
            </div>
        </div>
    </div>
}
<ExecutionModal @ref="@_executionModal"/>


@code
{
    private ExecutionModal _executionModal;
    private bool _showModal = false;
    private ManagedSystem _system;
    private List<PackageInformation> _packageInformation = null;

    public void ShowModal(ManagedSystem managedSystem)
    {
        _executionModal.ExecuteOperation(() =>
        {
            _system = managedSystem;
            _packageInformation = SystemManagerService.GetPackagesList(_system);
            _showModal = true;
            StateHasChanged();
        });
    }

    void CloseModal()
    {
        _showModal = false;
        _system = null;
        _packageInformation = null;
    }
}