@using Paco.Entities.Models
@using Paco.Services
@using Paco.Entities.FreeBsd
@using System.ComponentModel.DataAnnotations
@using System.Globalization
@using Microsoft.EntityFrameworkCore
@using Paco.Entities.Models.Updating
@using Paco.Repositories.Database
@using Sentry.Protocol

@inject SystemManagerService SystemManagerService
@inject IJSRuntime JsRuntime
@inject IDbContextFactory<ApplicationDbContext> DbContextFactory

@if (_showModal)
{
    if (_detailsText != null)
    {
        <div class="modal fade show" style="display:block" aria-modal="true" role="dialog">
            <div class="modal-dialog modal-xl modal-dialog-scrollable">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">@_system.Name</h4>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <p style="white-space: pre-line">
                            @_detailsText
                        </p>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn" @onclick="@BackFromDetails">Close</button>
                        <button type="button" class="btn btn-dark" @onclick="@(() => { ShowActionDetails(_scheduledAction); })">Refresh</button>
                    </div>
                </div>
            </div>
        </div>
    }
    else if (_scheduledActions != null)
    {
        <div class="modal fade show" style="display:block" aria-modal="true" role="dialog">
            <div class="modal-dialog modal-xl modal-dialog-scrollable">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">@_system.Name</h4>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">

                        <table class="table">
                            <thead>
                            <tr>
                                <th>Scheduled at</th>
                                <th>Started at</th>
                                <th>Action type</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var scheduledAction in _scheduledActions)
                            {
                                <tr @onclick="() => ShowActionDetails(scheduledAction)" style='cursor: pointer;'>
                                    <td>@scheduledAction.ScheduledAt</td>
                                    <td>@scheduledAction.StartedAt</td>
                                    <td>@scheduledAction.ScheduledActionType</td>
                                    <td>@scheduledAction.ScheduledActionStatus</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn" @onclick="@CloseModal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    }
}
<ExecutionModal @ref="@_executionModal"/>


@code
{
    private ExecutionModal _executionModal;

    private bool _showModal = false;
    private ManagedSystem _system;
    private IEnumerable<ScheduledAction> _scheduledActions = null;
    private string _detailsText = null;
    private ScheduledAction _scheduledAction;

    public void Show(ManagedSystem managedSystem)
    {
        _executionModal.ExecuteOperation(() =>
        {
            _system = managedSystem;
            _showModal = true;
            StateHasChanged();

            using var context = DbContextFactory.CreateDbContext();
            _scheduledActions = context.ScheduledActions.GetScheduledActionsForSystem(_system);
            InvokeAsync(StateHasChanged);
        });
    }

    private void ShowActionDetails(ScheduledAction scheduledAction)
    {
        _scheduledAction = scheduledAction;

        _executionModal.ExecuteOperation(() =>
        {
            _detailsText = null;
            _detailsText = SystemManagerService.GetUpdateDetails(scheduledAction);

            StateHasChanged();
        });
    }

    private void CloseModal()
    {
        _showModal = false;
        _system = null;
        _scheduledActions = null;
    }

    private void BackFromDetails()
    {
        _detailsText = null;
        StateHasChanged();
    }
}